.python-version
__pycache__/
*.pkl
*.txt
*.epub
.ds_store
config.yml
series.yml
*.faiss
chunks/*.pkl
chroma_data/
booknlp/output/
!requirements.txt
logs/*.log*
*.json
quality_test_results.html
!series.example.yml
node_modules/

!entity_editor/*.json
