# Python specific ignores
.python-version
__pycache__/
*.pkl
.pytest_cache

# Text and document files
*.txt
*.epub

# System files
.ds_store
.vscode/

# Configuration files
config.yml
series*.yml
redis_config.conf
prompts*.yml

# Data files
*.faiss
chunks/*.pickle
chroma_data/
*.rdb
*.gz

# Output directories
booknlp/output/

# Log files
*.log*

# JSON files
*.json

# HTML files
tests/quality_test_results.html

# Cover images
images/**/*.jpg
images/**/*.png

# Node modules
node_modules/

# Exceptions
!requirements.txt
!series.example.yml
!entity_editor/*.json
!prompts.example.yml
!images/books/.gitkeep